<!-- Message notification -->

<!-- HTML code to write -->

<!-- Food List -->
<?php if (!isset($_SESSION['logIn']) || $_SESSION['logIn']['status'] != 2): ?>
    <table class="generic-table meal-list">
        <caption>Menu</caption>
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        <!-- HTML code to write -->





<!-- <?php $colNumInRow = 0;?>
            <?php for ($row = 0; $row < ceil(count($products)/3); $row++): ?>
                <div class="row">
                <?php for ($col = $colNumInRow; $col < ($colNumInRow + 3); $col++): ?>
                    <?php if (!isset($products[$col]['Id']))
                        break;
                    ?>
                    <div class="col-md-4 col-sm-4 col-xs-6">
...
</div>
                <?php endfor; ?>
                <?php $colNumInRow += 3; ?>
                </div>
            <?php endfor; ?>

 -->



        
        <?php foreach ($products as $product): ?>
            <tr>
                <td><img src="<?= $wwwUrl ?>/images/meals/<?= $product['photo']; ?>" alt="<?= $product['photo']; ?>"></td>
                <td><?= $product['name']; ?></td>
                <td><?= $product['description']; ?></td>
                <td><input class="quantity" type="number" name="quantity" min="0" max="50" value="1"></td>
                <td><?= $product['salePrice']; ?> €</td>
                <td><a class="btn-add-to-cart" data-price_each="<?= $product['salePrice'] ?>" data-product_id="<?= $product['Id'] ?>" href="#">Add to Cart</a></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>