<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>3WA Restaurant</title>
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/normalize-3.0.3.min.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/font-awesome-4.3.0.min.css">

    <!-- Stylesheets application -->
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/3wa-resto.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-button.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-form.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-table.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Karla">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/js/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/immersive-slider.css">
    <!-- jQuery library -->

    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="<?= $wwwUrl ?>/js/jquery-ui/jquery-ui.min.js"></script>

    <!-- JavaScript application -->
    <script src="<?= $wwwUrl ?>/js/utilities.js"></script>


    <!-- Latest compiled and minified CSS -->

</head>
<body>

<!-- Common header -->

<header>
 <div class="wrapper">
    <header>
    </header>
    <div class="main">
      <div class="page_container">
        <div id="immersive_slider">
          <div class="slide" data-blurred="<?= $wwwUrl ?>/images/sliders/cheeseburger.png">
            <div class="content">
              <h2><a href="#" target="_blank">Cheeseburger</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank">
                <img src="<?= $wwwUrl ?>/images/sliders/cheeseburger.png" alt="Slider 1">
              </a>
            </div>
          </div>
         <div class="slide" data-blurred="<?= $wwwUrl ?>/images/sliders/cocacola.png">
            <div class="content">
              <h2><a href="#" target="_blank">Coca Cola</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank">
               <img src="<?= $wwwUrl ?>/images/sliders/cocacola.png" alt="Slider 1">
              </a>
            </div>
          </div>
          <div class="slide" data-blurred="<?= $wwwUrl ?>/images/sliders/milkshakes.png">
            <div class="content">
              <h2><a href="#" target="_blank">Ice Cream, Milk Shake</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank">
                 <img src="<?= $wwwUrl ?>/images/sliders/milkshakes.png" alt="Slider 1">
              </a>
            </div>
          </div>
          
          <a href="#" class="is-prev">&laquo;</a>
          <a href="#" class="is-next">&raquo;</a>
        </div>
      </div>
    </div>
    <div class="benefits">
      <div class="page_container">

      </div>
    </div>
    <script type="text/javascript">
      $(document).ready( function() {
        $("#immersive_slider").immersive_slider({
          container: ".main"
        });
      });

    </script>
        <script type="text/javascript" src="<?= $wwwUrl ?>/js/jquery.immersive-slider.js"></script>
  </div>
</header>
<!-- User interface -->
<?php if (isset($_SESSION['logIn'])): ?>
    <div class="clearfix">
        <p class="welcome">Hi, <?= $_SESSION['logIn']['firstName']; ?></p>
    </div>
<?php endif; ?>

<nav class="user-interface clearfix">
    <ul class="link-list custom-list">
        <!-- Code HTML/PHP à écrire -->
        <?php if (!isset($_SESSION['logIn']) || (isset($_SESSION['logIn']) && $_SESSION['logIn']['status'] == 1)): ?>
            <li>
                <a class="button button-primary" href="<?= $requestUrl;?>/reservation">Table Reservation</a>
            </li>
        <?php endif; ?>
        <?php if (!isset($_SESSION['logIn'])): ?>
            <li>
                <a class="button button-primary" href="<?= $requestUrl;?>/login">Log In</a>
                <a class="button button-primary" href="<?= $requestUrl;?>/registration">Registration</a>
            </li>
        <?php else: ?>
            <li>
                <a class="button button-primary" href="<?= $requestUrl;?>/registration">Profile</a>
                <a class="button button-primary" href="?logout">Log Out</a>
            </li>
        <?php endif; ?>
    </ul>
</nav>
<div class="clearfix">
    <div class="cart">
        <div class="shopping-cart">
            <p>Cart</p>
            <span class="cart-total"><?php echo isset($_SESSION['totalSum']) ? $_SESSION['totalSum']: ''; ?> €</span>
        </div>
        <a href="<?= $requestUrl;?>/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    </div>
</div>



<main>
    <!-- Display template linked to the view -->
    <?php include $this->viewData['template'] ?>
</main>

<!-- Common footer -->
<footer>
    <div id="map"></div>
    <script>
        function initMap() {
            var marker = new google.maps.Marker({
                position: {lat: 54.6791049, lng: 25.2650489},
                map: map,
                title: 'Hello World!'
            });
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 54.6786579, lng: 25.2869164},
                zoom: 14,
                styles: [
                    {
                        featureType: 'all',
                        stylers: [
                            { saturation: -80 }
                        ]
                    },{
                        featureType: 'road.arterial',
                        elementType: 'geometry',
                        stylers: [
                            { hue: '#00ffee' },
                            { saturation: 50 }
                        ]
                    },{
                        featureType: 'poi.business',
                        elementType: 'labels',
                        stylers: [
                            { visibility: 'off' }
                        ]
                    }
                ]

            });
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbmBnqnfuoIPoaCfh2q0Bdo-JSscPEUtY&callback=initMap" async defer></script>
</footer>

<!-- Main code JavaScript application -->
<script src="<?= $wwwUrl ?>/js/main.js"></script>
<!-- For datepicker jQuery UI -->
<!--<script>-->
<!--    $('#date').datepicker({dateFormat: 'yy-mm-dd'});-->
<!--</script>-->
</body>
</html>