<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>3WA Restaurant</title>
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/normalize-3.0.3.min.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/font-awesome-4.3.0.min.css">
    <style>
        body
        {
            /* structure */
            line-height: 1.5em;
            margin: 0 auto;
            padding-top: 2em;
            width: 85%;

            /* presentation */
            text-align: center;
        }

        p
        {
            margin: 2em 0;
        }

        .fatal
        {
            color: #EF4036;
        }
    </style>
</head>
<body>
    <h1 class="fatal"><i class="fa fa-warning"></i> FATAL ERROR IN YOUR CODE <i class="fa fa-warning"></i></h1>
    <p><?= $_fatalErrorMessage ?></p>
    <p><img src="<?= $wwwUrl ?>/images/error.jpg" alt="Fatal Error"></p>
</body>
</html>