<h2>Table reservation</h2>
<p><span class="required-field">*</span> Indicates required field</p>
<form id="generic-form" class="generic-form" action="" method="POST" onsubmit="return validateForm()">
    <fieldset>
        <legend>Information</legend>
        <ul>
            <li>
                <label for="date">Date:</label>
                <select id="year" name="year">
                    <?php for ($year = date('Y'); $year <= date('Y') + 1; $year++): ?>
                        <option value="<?= $year ?>"><?= $year ?></option>
                    <?php endfor; ?>
                </select>
                <span>-</span>
                <select id="month" name="month">
                    <?php $months = [
                        1 => "January",
                        2 => "February",
                        3 => "March",
                        4 => "April",
                        5 => "May",
                        6 => "June",
                        7 => "July",
                        8 => "August",
                        9 => "September",
                        10 => "October",
                        11 => "November",
                        12 => "December",
                    ]; ?>
                    <?php for ($month = 1; $month <= 12; $month++): ?>
                        <option value="<?= $month ?>" <?php echo date('m') == $month ? 'selected' : "" ?>><?= $months[$month] ?></option>
                    <?php endfor; ?>
                </select>
                <span>-</span>
                <select id="day" name="day">
                    <?php for ($day = 1; $day <= 31; $day++): ?>
                        <?php if ($day < 10): ?>
                            <option value="<?= $day ?>" <?php echo date('d') == $day ? 'selected' : "" ?>>0<?= $day ?></option>
                        <?php else: ?>
                            <option value="<?= $day ?>" <?php echo date('d') == $day ? 'selected' : "" ?>><?= $day ?></option>
                        <?php endif; ?>
                    <?php endfor; ?>
                </select>
            </li>
            <li>
                <label for="date">Time:</label>
                <select id="hour" name="hour">
                    <?php for($hour = 10; $hour <= 22; $hour++): ?>
                        <option value="<?= $hour ?>"><?= $hour ?></option>
                    <?php endfor; ?>
                </select>
                <span>:</span>
                <select id="minutes" name="minutes">
                    <?php for($minutes = 0; $minutes < 60; $minutes += 10): ?>
                        <?php if ($minutes < 10): ?>
                            <option value="<?= $minutes ?>">0<?= $minutes ?></option>
                        <?php else: ?>
                            <option value="<?= $minutes ?>"><?= $minutes ?></option>
                        <?php endif; ?>
                    <?php endfor; ?>
                </select>
            </li>
            <li>
                <label for="persons">Number of persons: <span class="required-field">*</span></label>
                <input id="persons" type="number" min="0" max="50" name="persons" value="1">
            </li>
            <?php if (!isset($_SESSION['logIn'])): ?>
                <li>
                    <label for="name">Name: <span class="required-field">*</span></label>
                    <input id="name" type="text" name="name">
                </li>
                <li>
                    <label for="phone">Telephone number: <span class="required-field">*</span></label>
                    <input id="phone" type="text" name="phone">
                </li>
                <span class="hidden" id="error-message"></span>
            <?php endif; ?>
        </ul>
    </fieldset>
    <button class="button button-primary" type="submit">Reserve</button>
</form>