<!-- Food List -->
<?php $cartFull = false; ?>

<?php if (isset($cart) && $cart != null): ?>
    <?php $cartFull = true; ?>
    <table class="generic-table meal-list">
        <caption>Cart</caption>
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Sale Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
        <!-- HTML code to write -->
        <?php foreach ($cart as $cartLine): ?>
            <tr>
                <td><img src="<?= $wwwUrl ?>/images/meals/<?= $cartLine['photo']; ?>" alt="<?= $cartLine['photo']; ?>"></td>
                <td><?= $cartLine['name']; ?></td>
                <td><?= $cartLine['description']; ?></td>
                <td><?= $cartLine['quantity']; ?></td>
                <td><?= $cartLine['price_each']; ?> €</td>
                <td><?= $cartLine['price_each']*$cartLine['quantity']; ?> €</td>
                <td><a class="btn btn-delete-from-cart" data-product_id="<?= $cartLine['product_id'] ?>" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total:</th>
                <th class="cart-total"><?php echo $_SESSION['totalSum']; ?> €</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <a class="button button-primary" href="<?= $requestUrl;?>/<?php echo (isset($_SESSION['logIn'])) ? 'payment' : 'login'; ?>">Payment</a>
                </th>
            </tr>
        </tfoot>
    </table>
<?php endif; ?>
<table class="generic-table cart-empty <?php echo ($cartFull) ? 'hidden' : ''; ?>">
    <caption>Cart Is Empty</caption>
</table>
