<?php if (!isset($_SESSION['logIn'])): ?>
    <h2>Registration</h2>
<?php elseif ($_SESSION['logIn']['status'] == 1): ?>
    <h2>Profile</h2>
<?php endif; ?>
<p><span class="required-field">*</span> Indicates required field</p>
<form id="generic-form" class="generic-form" action="" method="POST" onsubmit="return validateForm()">
    <fieldset>
        <legend>Personal Information</legend>
        <ul>
            <li>
                <label for="first-name">First name: <span class="required-field">*</span></label>
                <?php if (!isset($_SESSION['logIn'])): ?>
                    <input id="first-name" type="text" name="first-name" value="<?php echo isset($_POST['first-name']) ? $_POST['first-name'] : '' ?>">
                <?php elseif ($_SESSION['logIn']): ?>
                    <input id="first-name" type="text" name="first-name" value="<?php echo isset($_POST['first-name']) ? $_POST['first-name'] : $_SESSION['logIn']['firstName']; ?>">
                <?php endif; ?>
            </li>
            <li>
                <label for="last-name">Last name: <span class="required-field">*</span></label>
                <?php if (!isset($_SESSION['logIn'])): ?>
                    <input id="last-name" type="text" name="last-name" value="<?php echo isset($_POST['last-name']) ? $_POST['last-name'] : '' ?>">
                <?php elseif ($_SESSION['logIn']): ?>
                    <input id="last-name" type="text" name="last-name" value="<?php echo isset($_POST['last-name']) ? $_POST['last-name'] : $_SESSION['logIn']['lastName']; ?>">
                <?php endif; ?>
            </li>
            <li>
                <?php if (!isset($_SESSION['logIn']) || $_SESSION['logIn']['status'] != 2): ?>
                    <label for="phone">Telephone number: <span class="required-field">*</span></label>
                    <?php if (!isset($_SESSION['logIn'])): ?>
                        <input id="phone" type="text" name="phone" value="<?php echo isset($_POST['phone']) ? $_POST['phone'] : '' ?>">
                    <?php elseif ($_SESSION['logIn']): ?>
                        <input id="phone" type="text" name="phone" value="<?php echo isset($_POST['phone']) ? $_POST['phone'] : $_SESSION['logIn']['phone']; ?>">
                    <?php endif; ?>
                <?php endif; ?>
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Log In Information</legend>
        <ul>
            <li>
                <label for="email">E-mail: <span class="required-field">*</span></label>
                <?php if (!isset($_SESSION['logIn'])): ?>
                    <input id="email" type="email" name="email" value="<?php echo isset($_POST['email']) ? $_POST['email'] : '' ?>">
                <?php elseif ($_SESSION['logIn']): ?>
                    <input id="email" type="email" name="email" value="<?php echo isset($_POST['email']) ? $_POST['email'] : $_SESSION['logIn']['email']; ?>">
                <?php endif; ?>
            </li>
            <?php if(isset($_SESSION['errors']['user_taken'])): ?>
                <span class="error-message"><?= $_SESSION['errors']['user_taken'] ?></span>
                <?php unset($_SESSION['errors']['user_taken']); ?>
            <?php endif; ?>
            <li>
                <label for="password">Password: <span class="required-field">*</span></label>
                <input id="password" type="password" name="password">
            </li>
            <li>
                <label for="password">Confirm password: <span class="required-field">*</span></label>
                <input id="confirm_password" type="password" name="confirm_password">
            </li>
        </ul>
    </fieldset>
    <?php if (!isset($_SESSION['logIn']) || $_SESSION['logIn']['status'] != 2): ?>
    <fieldset>
        <legend>Delivery Information</legend>
        <ul>
            <li>
                <label for="city">City: <span class="required-field">*</span></label>
                <?php if (!isset($_SESSION['logIn'])): ?>
                    <input id="city" type="text" name="city" value="<?php echo isset($_POST['city']) ? $_POST['city'] : '' ?>">
                <?php elseif ($_SESSION['logIn']['status'] == 1): ?>
                    <input id="city" type="text" name="city" value="<?php echo isset($_POST['city']) ? $_POST['city'] : $_SESSION['logIn']['city']; ?>">
                <?php endif; ?>
            </li>
            <li>
                <label for="address">Address: <span class="required-field">*</span></label>
                <?php if (!isset($_SESSION['logIn'])): ?>
                    <input id="address" type="text" name="address" value="<?php echo isset($_POST['address']) ? $_POST['address'] : '' ?>">
                <?php elseif ($_SESSION['logIn']['status'] == 1): ?>
                    <input id="address" type="text" name="address" value="<?php echo isset($_POST['address']) ? $_POST['address'] : $_SESSION['logIn']['address']; ?>">
                <?php endif; ?>
            </li>
            <span class="hidden" id="error-message"></span>
        </ul>
    </fieldset>
    <?php endif; ?>
    <?php if (!isset($_SESSION['logIn'])): ?>
        <button class="button button-primary" type="submit">Sign Up</button>
    <?php elseif ($_SESSION['logIn']): ?>
        <button class="button button-primary" type="submit">Update Profile</button>
    <?php endif; ?>
</form>