<h2>Log In</h2>
<form id="generic-form" class="generic-form" action="" method="POST">
    <fieldset>
        <legend>Log In Panel</legend>
        <ul>
            <li>
                <label for="email">E-mail:</label>
                <input id="email" type="email" name="email" value="<?php echo isset($_POST['email']) ? $_POST['email'] : '' ?>">
            </li>
            <li>
                <label for="password">Password:</label>
                <input id="password" type="password" name="password">
            </li>
            <?php if(isset($_SESSION['errors']['no_user'])): ?>
                <span class="error-message"><?= $_SESSION['errors']['no_user'] ?></span>
                <?php unset($_SESSION['errors']['no_user']); ?>
            <?php endif; ?>
        </ul>
    </fieldset>
    <button class="button button-primary" type="submit">Log In</button>
</form>